
.header {
    grid-area: h;
    background-color: crimson;
}

.header img {
    width: 90px;
}

.item {
    color: black;
    font-family: "Bauhaus 93";
    font-size: xx-large;
    position: relative;
    top: -40px;
    left: 700px;
}