.dialogs {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;


}

.dialogsItem .active {
    color: chartreuse;

}

.dialog {


}

.message {

}

.messages .message {
    padding: 5px;

}

